CompileFlags:
  CompilationDatabase: build/
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - 'bugprone-*'
      - 'readability-*'
      - 'clang-analyzer-core.*'
      - 'clang-analyzer-security.*'
